.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.logo{
width: 150px;
height: 25px;
}
.navbar_menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #495574;
    font-size: 18px;

}
.navbar_right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #495574;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor:pointer;
    transform: 0.3s;

}
.navbar button:hover{
    background-color: rgba(235, 214, 214, 0.733);
}
.active{
    padding-bottom: 2px;
    border-bottom: 2px solid #495574;
}
.navbar_menu li{
    cursor: pointer;
}
.navbar_basket{
    position: relative;
}
.navbar_basket .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}